/bin/
nohup.out
coverage.txt
.DS_Store
cmd/provisioner-localpv/start.sh
# IDEs
**/.idea/

# Ginkgo test
tests/tests.test
/tests/integration_coverage.txt

# Nix-Shell Go
/nix/.go/
/nix/.tmp/

/nixos.qcow2

/nix/bins/sudo
